/* Mobile */
@media (max-width: 739px) {

    body {
        height: 1000px;
    }

    .hide-mobile {
        display: none !important;
    }

    /* Playing */
    .playing__mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(var(--player-height) + var(--player-mobile-bonus-height));
        background-color: #333;
        padding: 12px 24px 24px 24px;
    }

    /* Progress timeline */
    .playing__mobile--progress {
        width: 100% !important;
        height: 3px !important;
        margin: 0 !important;
    }

    .playing__mobile--progress:hover {
        height: 3px !important;
    }

    .playing__mobile--timeline {
        display: flex;
        justify-content: space-between;
    }

    .timeline__mobile--current,
    .timeline__mobile--total {
        font-size: 1.1rem;
        color: var(--color-gray);
    }

    /* Playing controls */
    .playing__mobile--controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 0;
    }

    .mobile__control--btn {
        font-size: 1.8rem;
        opacity: 0.8;
    }

    .playing__mobile--controls .repeat__mobile--btn {
        font-size: 2rem;
    }

    .playing__mobile--controls .play__mobile--btn,
    .playing__mobile--controls .pause__mobile--btn {
        font-size: 4.8rem;
        opacity: 1;
    }

    .playing__mobile--controls .next__mobile--btn,
    .playing__mobile--controls .prev__mobile--btn {
        font-size: 3.2rem;
        opacity: 1;
    }

    .mobile__setting--controls {
        display: flex;
        justify-content: space-between;
    }

    /* Playlist CSS */
    .playlist {
        height: calc(100vh - var(--player-height) - var(--player-mobile-bonus-height));
    }

    /* Lyric CSS */
    .lyrics {
        width: 100% !important;
        transition: all 0.3s ease !important;
    }

    /* Visualizer CSS */
    .visualizer {
        width: 100% !important;
        padding: 0 24px;
    }
    .visualizer__setting {
        display: none !important;
    }
    .visualizer__wrap {
        width: 260px !important;
        height: 260px !important;
    }
    .visualizer__cd--animate.hide {
        display: none !important;
    }

}